*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:hsl(333, 65%, 59%);
  color: white;
  
}
.App {
  text-align: center;
}

.form-container{
  margin: 20px;
  border: 2px solid black;
}

